Brotli==1.1.0
GitPython==3.1.57
Jinja2==3.1.4
MarkupSafe==2.1.5
PySocks==1.7.1
PyYAML==6.0.2
Pygments==2.18.0
aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
antlr4-python3-runtime==4.9.3
anyio==4.14.2
appdirs==1.4.4
archspec==0.2.3
asttokens==2.4.1
astunparse==1.6.3
attrs==24.2.0
autocommand==2.2.2
backports.tarfile==1.2.0
beautifulsoup4==4.12.3
boltons==24.0.0
braceexpand==0.1.7
certifi==2024.8.30
cffi==1.17.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
click==8.4.2
colorama==0.4.6
conda-build==24.7.1
conda-libmamba-solver==24.7.0
conda-package-handling==2.3.0
conda==24.7.1
conda_index==0.5.0
conda_package_streaming==0.10.0
contourpy==1.3.3
cycler==0.12.1
decorator==5.1.1
distro==1.9.0
dnspython==2.6.1
docker-pycreds==0.4.0
exceptiongroup==1.2.2
executing==2.1.0
expecttest==0.2.1
filelock==3.15.4
fonttools==4.63.0
frozendict==2.4.4
frozenlist==1.8.0
fsspec==2024.9.0
gitdb==4.0.12
h11==0.16.0
h2==4.1.0
hf-xet==1.5.2
hpack==4.0.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.26.0
hydra-core==1.3.4
hyperframe==6.0.1
hypothesis==6.111.2
idna==3.8
importlib_metadata==8.0.0
importlib_resources==6.4.0
importlib_resources==6.4.4
inflect==7.3.1
ipython==8.27.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
jedi==0.19.1
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema-specifications==2023.12.1
jsonschema==4.23.0
kiwisolver==1.5.0
libarchive-c==5.1
libmambapy==1.5.9
lief==0.14.1
lightning-utilities==0.15.3
lightning==2.6.5
lintrunner==0.12.5
lpips==0.1.4
mamba==1.5.9
markdown-it-py==4.2.0
matplotlib-inline==0.1.7
matplotlib==3.11.1
mdurl==0.1.2
menuinst==2.1.2
more-itertools==10.3.0
more-itertools==10.4.0
mpmath==1.3.0
multidict==6.7.1
networkx==3.3
ninja==1.11.1.1
numpy==1.26.4
numpy==2.1.1
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.1.105
nvidia-nvtx-cu12==12.1.105
omegaconf==2.3.1
optree==0.12.1
packaging==24.1
packaging==24.1
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.2.0
pip==24.2
pkginfo==1.11.1
pkgutil_resolve_name==1.3.10
platformdirs==4.2.2
platformdirs==4.2.2
pluggy==1.5.0
prompt_toolkit==3.0.47
propcache==0.5.2
protobuf==4.25.9
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pycosat==0.6.6
pycparser==2.22
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-etcd==0.4.5
pytorch-lightning==2.6.5
pytz==2024.1
referencing==0.35.1
requests==2.32.3
rich==15.0.0
rpds-py==0.20.0
ruamel.yaml.clib==0.2.8
ruamel.yaml==0.18.6
scipy==1.17.1
sentry-sdk==2.66.1
setproctitle==1.3.7
setuptools==73.0.1
six==1.16.0
smmap==5.0.3
sortedcontainers==2.4.0
soupsieve==2.5
stack-data==0.6.2
sympy==1.13.2
tokenizers==0.23.1
tomli==2.0.1
torch==2.4.1+cu121
torch_fidelity==0.4.0
torchaudio==2.4.1+cu121
torchelastic==0.2.2
torchmetrics==1.9.0
torchvision==0.19.1+cu121
tqdm==4.66.5
traitlets==5.14.3
triton==3.0.0
truststore==0.9.2
typeguard==4.3.0
types-dataclasses==0.6.6
typing_extensions==4.12.2
typing_extensions==4.12.2
urllib3==2.2.2
wandb==0.16.6
wcwidth==0.2.13
webdataset==1.0.2
wheel==0.43.0
wheel==0.44.0
yarl==1.24.5
zipp==3.19.2
zipp==3.20.1
zstandard==0.23.0